<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fullname %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/utility.css">
</head>
<body id="body">
    <div class="navbar">
        <div class="menu-button">
            <a href="http://localhost:7000/menu">Menu</a>
        </div>
    </div>
      <div class="card flex po-relative bgDark border-box">
        <div class="left red-border">
            <div class="pofile-container red-border">
                <img src="<%= profileImage %>" 
                alt="error image not found">
            </div>
            <div class="about-container red-border">
                <p class="about red-border font3"><%= about %></p>
            </div>
        </div>
        <div class="right red-border">
            <div class="name-container red-border">
                <h1 class="name font2 red-border"><%= fullname %></h1>
                <h3 class="profession font1 red-border"><%= profession %></h3>
            </div>
            <div class="right-bottom red-border">
                <div class="personal-info-container red-border">
                    <h3 class="personal-info-heading font2 red-border">Personal Information</h3>
                    <div class="personal-info red-border">
                        <div class="DOB red-border font3">Date of Birth : <%= dob %></div>
                        <div class="father-name red-border font3">Father's name : <%= father_name %></div>
                        <div class="mother-name red-border font3">Mother's name : <%= mother_name %></div>
                        <div class="location red-border font3">Location : <%= user_location %></div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
      </div>
</body>
<!-- <script src="script.js" type="module"></script> -->
</html>